<nav class="navbar">
    <ul class="navlist">
        <li class="navitem"><a href="/">Home</a></li>
        <li class="navitem"><a href="/Clubs">Clubs</a></li>
        <li class="navitem"><a href="/Students">Students</a></li>
        <li class="navitem"><a href="/Events">Events</a></li>
        <li class="navitem"><a href="/Categories">Categories</a></li>
    </ul>
</nav>