<nav class="navbar">
    <ul class="navlist">
        <li class="navitem"><a href="/">Home</a></li>
        <li class="navitem"><a href="/Clubs">Manage Clubs</a></li>
        <li class="navitem"><a href="/Students">Manage Students</a></li>
        <li class="navitem"><a href="/Events">Manage Events</a></li>
        <li class="navitem"><a href="/Categories">Manage Categories</a></li>
        <li class="navitem"><a href="/ClubParticipation">Manage Club Participation</a></li>
    </ul>
</nav>