<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fictus University Club Manager</title>
    <link rel="stylesheet" href="./style.css">

    <script src="/headerTemplate.js"></script>
    <script src="/navBarTemplate.js"></script>

    <!-- js script -->
    {{> headerTemplate}}
    
  </head>
  <body>
    {{{body}}}
  </body>
</html>