{{> navBarTemplate}}
<h1>Club Participation</h1>

<!-- Display current Clubs data -->
{{!-- 
Citation for the following creating this table and populating using handlebars
Date: 2/26/2025
Adapted from nodejs-starter app code
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data--}}
{{!-- Display current Clubs data --}}
{{!-- Create a table --}}
<table border="1", cellpadding="5">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print all of the attributes in order --}}
        {{#each data}}
        <tr>
            <td>{{this.clubParticipationId}}</td>
            <td>{{this.clubId}}</td>
            <td>{{this.studentId}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- Fields to add a club -->
<div id="insert">
    <form method="POST" id="addClubParticipation">
        <legend><strong>Add Club Participation</strong></legend>
          <fieldset class="fields">
            <label> Club ID </label> <input type="text" name="clubId">
            <label> Student ID </label> <input type="text" name="studentId">
      </fieldset>
          <input class="btn" type="submit" id="addClub" value="Add Club">
          <input class="btn" type="button" value="cancel" onClick="addClub()">
	</form> 
</div>

<!-- Fields to edit a club -->
<div id="update">
    <form method="POST" id="UpdateClub">
        <legend><strong>Update Club Participation</strong></legend>
          <fieldset class="fields">
          <input type="hidden" name="clubParticipation" id="clubParticipationID" value="1">
            <label> Club ID </label> <input type="text" name="clubId">
            <label> Student ID </label> <input type="text" name="studentId">
      </fieldset>
          <input class="btn" type="submit" id="UpdateSaveClub" value="Save Update Club">
          <input class="btn" type="button" value="cancel" onClick="browseClubParticipation()">
	</form> 
</div>

<!-- Option to delete a club -->

<div id="delete">
    <form method="POST" id="DeleteClub">
        <legend><strong>Delete Club Participation</strong></legend>
          <fieldset class="fields">
          <input type="hidden" name="clubParticipationID" id="deleteClubParticipationID" value="1">
            <label> Club ID </label> <select name="clubs">
                <option value="1">Select Club Participation</option>
                <option value="2">1</option>
                <option value="3">2</option>
                <option value="4">3</option>
                </select>
        </fieldset>
          <input class="btn" type="submit" id="deleteClubParticipation" value="Delete Club Participation">
          <input class="btn" type="button" value="cancel" onClick="browseClubParticipations()">
	</form> 
</div>