<h1>Events</h1>

<!-- Display current Events data -->
<table border="1" cellpadding="5">
  <tr>
    <th>Event ID</th>
    <th>Club ID</th>
    <th>Name</th>
    <th>Date</th>
    <th>Location</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>1</td>
    <td>1</td>
    <td>Weekly Meeting</td>
    <td>2025-02-04 18:00:00</td>
    <td>Weniger 123</td>
    <td>This is the weekly meeting time for chess club. We will play games and eat pizza!</td>
  </tr>
  <tr>
    <td>2</td>
    <td>1</td>
    <td>Weekend Chess Tournament</td>
    <td>2025-02-02 10:00:00</td>
    <td>Alumni Center Ballroom</td>
    <td>This event is a weekend chess tournament put on with clubs from other schools.</td>
  </tr>
  <tr>
    <td>3</td>
    <td>2</td>
    <td>Sunday Sale</td>
    <td>2025-02-02 14:00:00</td>
    <td>North Side of Reser Stadium</td>
    <td>Bake sale to raise money for unemployed cs graduates</td>
  </tr>
</table>

<!-- Fields to add a club -->
<div id="insert">
    <form method="POST" id="addEvent">
        <legend><strong>Add Event</strong></legend>
          <fieldset class="fields">
            <label> Club ID </label> <input type="text" name="clubId">
            <label> Name </label> <input type="text" name="eventName">
            <label> Date </label> <input type="datetime-local" name="eventDateTime">
            <label> Location </label> <input type="text" name="eventLocation">
            <label> Description </label> <input type="text" name="eventDescription">
      </fieldset>
          <input class="btn" type="submit" id="addEvent" value="Add Event">
          <input class="btn" type="button" value="cancel" onClick="addEvent()">
	</form> 
</div>

<!-- Fields to edit a club -->
<div id="update">
    <form method="POST" id="UpdateEvent">
        <legend><strong>Update Event</strong></legend>
          <fieldset class="fields">
          <input type="hidden" name="eventID" id="updateEventID" value="1">
            <label> Club ID </label> <input type="text" name="clubId">
            <label> Name </label> <input type="text" name="eventName">
            <label> Date </label> <input type="datetime-local" name="eventDateTime">
            <label> Location </label> <input type="text" name="eventLocation">
            <label> Description </label> <input type="text" name="eventDescription">
      </fieldset>
          <input class="btn" type="submit" id="UpdateSaveEvent" value="Save Update Event">
          <input class="btn" type="button" value="cancel" onClick="browseEvents()">
	</form> 
</div>

<!-- Option to delete a club -->

<div id="delete">
    <form method="POST" id="DeleteEvent">
        <legend><strong>Delete Event</strong></legend>
          <fieldset class="fields">
          <input type="hidden" name="eventId" id="updateEventId" value="1">
            <label> Event ID </label> <select name="events">
                <option value="1">Select An Event ID</option>
                <option value="2">1</option>
                <option value="3">2</option>
                <option value="4">3</option>
                </select>
        </fieldset>
          <input class="btn" type="submit" id="deleteEvent" value="Delete Event">
          <input class="btn" type="button" value="cancel" onClick="browseEvents()">
	</form> 
</div>