<H2>Fictus University Club Database Management</H1>
<p>This database manages information regarding Fictus University's clubs, members, and events.</p>
<h3>Tables</h2>
<p>Clubs: records the details of clubs</p>
<p>Students: records the individual students participating in clubs</p>
<p>Events: records the individual club events</p>
<p>Categories: records all category types and their sizes</p>
<p>Club Participation: intersection table that records what students are memebers of what clubs</p>
