{{> navBarTemplate}}
<h1>Students</h1>

<!-- Display current Students data -->
<table border="1" cellpadding="5">
  <tr>
    <th>Student ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Major</th>
    <th>Grade</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Jason Mann</td>
    <td>mannj@fu.edu</td>
    <td>Math</td>
    <td>Junior</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Chole Sullivan</td>
    <td>sullivc@fu.edu</td>
    <td>Finance</td>
    <td>Sophomore</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Kelly Allen</td>
    <td>allenk@fu.edu</td>
    <td>Business</td>
    <td>Junior</td>
  </tr>
</table>

<!-- Fields to add a club -->
<div id="insert">
    <form method="POST" id="addStudent">
        <legend><strong>Add Student</strong></legend>
          <fieldset class="fields">
            <label> Name</label> <input type="text" name="studentName"> 
            <label> Email </label> <input type="text" name="studentEmail">
            <label> Major </label> <input type="text" name="studentMajor">
            <label> Grade </label> <select name="Grades">
                <option value="1">Freshman</option>
                <option value="2">Sophomore</option>
                <option value="3">Junior</option>
                <option value="4">Senior</option>
                </select>
      </fieldset>
          <input class="btn" type="submit" id="addClub" value="Add Student">
          <input class="btn" type="button" value="cancel" onClick="addStudent()">
	</form> 
</div>

<!-- Fields to edit a club -->
<div id="update">
    <form method="POST" id="UpdateStudent">
        <legend><strong>Update Student</strong></legend>
          <fieldset class="fields">
          <input type="hidden" name="studentID" id="updatestudentID" value="1">
            <label> Name</label> <input type="text" name="studentName"> 
            <label> Email </label> <input type="text" name="studentEmail">
            <label> Major </label> <input type="text" name="studentMajor">
            <label> Grade </label> <select name="Grades">
                <option value="1">Freshman</option>
                <option value="2">Sophomore</option>
                <option value="3">Junior</option>
                <option value="4">Senior</option>
                </select>
      </fieldset>
          <input class="btn" type="submit" id="UpdateSaveStudent" value="Save Update Student">
          <input class="btn" type="button" value="cancel" onClick="browseStudents()">
	</form> 
</div>

<!-- Option to delete a club -->

<div id="delete">
    <form method="POST" id="DeleteStudent">
        <legend><strong>Delete Student</strong></legend>
          <fieldset class="fields">
          <input type="hidden" name="studentID" id="updateStudentId" value="1">
            <label> Student ID </label> <select name="students">
                <option value="1">Select A Student ID</option>
                <option value="2">1</option>
                <option value="3">2</option>
                <option value="4">3</option>
                </select>
        </fieldset>
          <input class="btn" type="submit" id="deleteStudent" value="Delete Student">
          <input class="btn" type="button" value="cancel" onClick="browseStudents()">
	</form> 
</div>