{{> navBarTemplate}}
<h1>Students</h1>

<!-- Display current Students data -->
<table border="1" cellpadding="5">
  <tr>
    <th>studentId</th>
    <th>studentName</th>
    <th>studentEmail</th>
    <th>studentMajor</th>
    <th>studentGrade</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Jason Mann</td>
    <td>mannj@fu.edu</td>
    <td>Math</td>
    <td>Junior</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Chole Sullivan</td>
    <td>sullivc@fu.edu</td>
    <td>Finance</td>
    <td>Sophomore</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Kelly Allen</td>
    <td>allenk@fu.edu</td>
    <td>Business</td>
    <td>Junior</td>
  </tr>
</table>

<!-- Fields to add a club -->
<div id="insert">
    <form method="POST" id="addStudent">
        <legend><strong>Add Student</strong></legend>
          <fieldset class="fields">
            <label> name</label> <input type="text" name="studentName"> 
            <label> email </label> <input type="text" name="studentEmail">
            <label> major </label> <input type="text" name="studentMajor">
            <label> grade </label> <input type="text" name="studentGrade">
      </fieldset>
          <input class="btn" type="submit" id="addClub" value="Add Student">
          <input class="btn" type="button" value="cancel" onClick="addStudent()">
	</form> 
</div>

<!-- Fields to edit a club -->
<div id="update">
    <form method="POST" id="UpdateStudent">
        <legend><strong>Update Student</strong></legend>
          <fieldset class="fields">
          <input type="hidden" name="studentID" id="updatestudentID" value="1">
            <label> name</label> <input type="text" name="studentName"> 
            <label> email </label> <input type="text" name="studentEmail">
            <label> major </label> <input type="text" name="studentMajor">
            <label> grade </label> <input type="text" name="studentGrade">
      </fieldset>
          <input class="btn" type="submit" id="UpdateSaveStudent" value="Save Update Student">
          <input class="btn" type="button" value="cancel" onClick="browseStudents()">
	</form> 
</div>

<!-- Option to delete a club -->

<div id="delete">
    <form method="POST" id="DeleteStudent">
        <legend><strong>Delete Student</strong></legend>
          <fieldset class="fields">
          <input type="hidden" name="studentID" id="updateStudentId" value="1">
            <label> student name </label> <select name="students">
                <option value="1">1: Jason Mann</option>
                <option value="2">2: Chole Sullivan</option>
                <option value="3">3: Kelly Allen</option>
                </select>
        </fieldset>
          <input class="btn" type="submit" id="deleteStudent" value="Delete Student">
          <input class="btn" type="button" value="cancel" onClick="browseStudents()">
	</form> 
</div>