header {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
    margin:0;
    font-family: arial;
}

body {
    font-family: arial;
    margin:0;
}

/* Add a black background color to the top navigation */
.navlist {
    background-color: black;
    overflow: hidden;
    list-style: none; /* Remove the dots */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex; /* Flexbox to make it horizontal */
  }
  
/* Style the links inside the navigation bar */
.navlist a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block; /* Ensures the entire area is clickable */
    border-right: 1px solid gray; /* Add white line between items */
  }
  
/* Change the color of links on hover */
.navlist a:hover {
    background-color: 	gray;
    color: white;
  }

/*Add zebra striped patter in tables
Got from W3schools.com: 
https://www.w3schools.com/css/css_table_style.asp
*/
tr:nth-child(even) {
  background-color: #f2f2f2;
} 

/*Change table head color in tables
Got from W3schools.com: 
https://www.w3schools.com/css/css_table_style.asp
*/
th {
  background-color: black;
  color: white;
}

/*
Adapted the modal code from my cs290 final project
*/
.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

#add-modal-close,
#update-modal-close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  color: white;
}

.modal-body {
  padding: 20px;
  background-color:white;
}

.modal-header{
    background-color: black;
    color: white;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#add-clubParticipation-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
}

#update-clubParticipation-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
}