@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between; /* may want to switch to right or something*/
    align-items: center;
    padding: 10px 5%;
    font-family: "Montserrat", sans-serif;
}

body {
    font-family: "Arial";
    margin:0;
}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
}

/* Add a black background color to the top navigation */
.navlist {
    background-color: black;
    list-style: none; /* Remove the dots */
    display: flex; /* Flexbox to make it horizontal */
  }
  
/* Style the links inside the navigation bar 
Got the color for hover and the transition from this youtube tutorial: https://www.youtube.com/watch?v=PwWHL3RyQgk
*/
.navlist a {
    color: white;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
    transition: all 0.3s ease 0s;
  }
  
/* Change the color of links on hover */
.navlist a:hover {
    color: 	#0088a9;
  }

/*Add zebra striped patter in tables
Got from W3schools.com: 
https://www.w3schools.com/css/css_table_style.asp
*/
tr:nth-child(even) {
  background-color: #f2f2f2;
} 

/*Change table head color in tables
Got from W3schools.com: 
https://www.w3schools.com/css/css_table_style.asp
*/
th {
  background-color: black;
  color: white;
}

/*
Adapted the modal code from my cs290 final project
*/
.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

#add-modal-close,
#update-modal-close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  color: white;
}

.modal-body {
  padding: 20px;
  background-color:white;
}

.modal-header{
    background-color: black;
    color: white;
}

#add-modal-backdrop,
#update-modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#add-clubParticipation-modal,
#update-clubParticipation-modal,
#add-club-modal,
#update-club-modal,
#add-student-modal,
#update-student-modal,
#add-event-modal,
#update-event-modal,
#add-category-modal,
#update-category-modal{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
}

